<ion-view view-title="Information">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Impressum
      </div>
      <div class="item item-text-wrap">
        Diese App wird entwickelt von der Medizinischen Universität Wien.
        <hr><br>
        <b>Medizinische Universität Wien</b><br>
        Spitalgasse 23<br>
        A-1090 Wien<br>
        Telefon: +43 (0)1 40 160-0<br>
        Fax: +43 (0)1 40 160-910 000<br>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Versionshistorie
      </div>
      <div class="item item-text-wrap">
        Version 0.0.1 - 1.2.2015<br><br>
        Übersicht: Auswählen der Parameter, um diese einzugeben, anzusehen und zu bearbeiten<br>
        Einstellungen: Anzeige des Benutzernamens, Abmelden
      </div>
    </div>
  </ion-content>
</ion-view>
