
<ion-view view-title="Übersicht">
  <ion-content class="padding">
    <div class="row">
      <div class="col"><a class="button button-block button-stable" ui-sref="tab.temperature">
        <i class="icon ion-thermometer my-icon"></i>Temperatur</a></div>
      <div class="col"><button class="button button-block button-stable">
        <i class="icon ion-ios-speedometer my-icon"></i>Gewicht</button></div>
    </div>
    <div class="row">
      <div class="col"><button class="button button-block button-stable">
        <i class="icon ion-ios-pulse-strong my-icon"></i>Blutdruck</button></div>
      <div class="col"><button class="button button-block button-stable">
        <i class="icon ion-flame my-icon"></i>Schmerz</button></div>
    </div>
    <div class="row">
      <div class="col"><button class="button button-block button-stable">
        <i class="icon ion-ios-wineglass my-icon"></i>Trinken</button></div>
      <div class="col"><button class="button button-block button-stable">
        <i class="icon ion-fork my-icon"></i>Essen</button></div>
    </div>
    <div class="row">
      <div class="col"><button class="button button-block button-stable">
        <i class="icon ion-ios-cloud my-icon"></i>SpO2</button></div>
      <div class="col"><button class="button button-block button-stable">
          <i class="icon ion-ios-book my-icon"></i>Tagebuch</button>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Kürzlich eingegebene Werte</div>
      <div class="item item-body">
        <div>
          ...
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
