<ion-view view-title="Temperatur bearbeiten">
    <ion-content>


        <form ng-submit="edit()">
            <div class="list" style="padding-top: 10px;">
                <label class="item item-input">
                    <i class="icon ion-thermometer placeholder-icon"></i>
                    <input type="number" min="34" max="45" step="0.1" placeholder="Temperatur bearbeiten..." ng-model="editTemperature.degreeCelsius" autocomplete="off" autocorrect="off" autocapitalize="off">
                </label>
                <button type="submit" class="button button-full button-balanced">Speichern</button>
            </div>
        </form>

    </ion-content>
</ion-view>